<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="mobbex_checkout_request">
        <observer name="mobbex_split_checkout" instance="Mobbex\Marketplace\Observer\Hooks"/>
    </event>
    <event name="mobbex_webhook_received">
        <observer name="mobbex_update_totals" instance="Mobbex\Marketplace\Observer\Hooks"/>
    </event>
    <event name="mobbex_get_vendor_entity">
        <observer name="mobbex_vendor_uid" instance="Mobbex\Marketplace\Observer\Hooks"/>
    </event>
</config>